<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lasque.tusdkeditoreasydemo">

    <application
        android:name="TuApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.PulseDemo">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".album.AlbumActivity" />
        <activity android:name=".ApiActivity" />
        <activity android:name=".ParticleActivity" />
        <activity android:name=".ImageStickerActivity" />
        <activity android:name=".TextStickerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".DraftActivity" />
        <activity android:name=".BubbleTextActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".GraffitiActivity" />
        <activity android:name=".MosaicActivity" />
        <activity android:name=".VoiceToTextActivity" />
        <activity android:name=".VoiceAPIEffectActivity" />
        <activity android:name=".MatteActivity" />
    </application>
    <uses-feature android:name="android.hardware.camera" /> <!-- 允许应用程序写数据到外部存储设备（主要是SD卡） -->
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" /> <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" /> <!-- 开启闪光灯权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 访问麦克风 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" /> <!-- 以下为非必要权限 -->
    <!-- 位置信息 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许访问GPS -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 读取日志 -->

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
</manifest>